/* Home.module.css */
.background {
    background-image: url('/computer.jpg'); /* Path relative to the public folder */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust the height as needed */
    width: 100%; /* Adjust the width as needed */
  }
  















  