/* Home.module.css */
.background {
  background-image: url('/computer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 60px; /* Padding equal to Navbar's height */
  height: 100vh;
  width: 100%;
}















  